.cabecalho {
  text-align: center;
  font-size: 1.45em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  width: 100%;
  color: #25a410;
  background-color: #232323;
}

.cabecalho > h1 {
  margin: auto;
  padding: 10px;
}
